@import '_variables';
.aboutme,
{
    padding: 5% 8%;
}
#about{
    background: linear-gradient(#002a69 0%, transparent 2%, transparent 97%, #002a69 102%)
}
.aboutme .paragraph {
    line-height: 1.8;
    font-size: 2vh;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
}
.flex-box div{
    text-align: center;
    padding: 2%;
    margin: 1%;
}
.panel-title{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .title {
        font-size: 40px;
        font-weight: bold;
    }
    .carousel-inner {
        height: 100px;
    }
    .row.match-my-cols {
        display: initial;
    }
    .background-blue,
    .background-white {
        display: inherit;
    }
}

@media only screen and (max-height: 600px) {
    #home {
        height: 510px;
    }
}

@media only screen and (max-width: 900px) {
    .carousel-inner {
        height: 250px;
    }
    .row.match-my-cols {
        display: initial;
    }
    .menu {
        width: 80%;
    }
    .background-blue,
    .background-white {
        display: inherit;
    }
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}