@import '_variables';
.aboutme {
    padding: 10%;
}

.aboutme .paragraph {
    line-height: 1.8;
    font-size: 2vh;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
    .carousel-inner {
        height: 100px;
    }
    .row.match-my-cols {
        display: initial;
    }
}

@media only screen and (max-width: 900px) {
    .carousel-inner {
        height: 250px;
    }
    .row.match-my-cols {
        display: initial;
    }
}