@import '_variables';
#contact{
        background: linear-gradient(transparent 43%, transparent 97%, transparent 46%, #002a69 102%);

}
#contact .col-xs-11,
#contact .col-md-7,
#contact .col-sm-8,
#contact .col-lg-8{
    padding-left: 0px;
    padding-right: 0px;
}
.informationPersonal{
    width: 100%;
    position: absolute;
    z-index: 5;
    list-style-type: none;
    // background: linear-gradient(45deg, #002a69, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #002a69 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #00000000 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #016bff00 100%, rgba(9, 245, 5, 0) 0);
    background: linear-gradient(45deg, #002a69, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #002a69 10%, rgba(49, 5, 209, 0) 80%);
    }
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.floating-box .email-me{
    width: 100%
}
.floating-box .flag-marke{
    height: 30px;
}
.floating-box {
    text-align: center;
    float: left;
    width: 35%;
    margin: 10px;
}
.fa-envelope-o{
    font-size: 25px;
    color: white;
    text-shadow:2px 2px rgb(0, 0, 0);
    
}
    .floating-box  h3{
    font-family: 'Lobster',cursive;
    color: white;
    text-shadow:2px 2px rgb(0, 0, 0);
}