@import '_variables';
/* CSS Skill*/
.SkillBar span {
    padding-top: 5px;
    width: 130px;
    height: 30px;
    background: black;
    font-weight: bold;
}
#SkillBox {
    width: 100%;
    height: auto;
    margin: 40px auto;
    padding: 10px;
    border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
}

#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}

.SkillBar {
    width: 90%;
    height: 30px;
    position: relative;
    background: #8789f861;
    margin: 20px auto;
}
 #Skill-HTML,
    #Skill-CSS,
    #Skill-jQuery,
#Skill-JS, #Skill-XML, #Skill-C, #Skill-Firebase, #Skill-Reactjs, #Skill-SQL, #Skill-VBNET {
    height: 30px;
    position: absolute;
    background-color: $colorPrimary;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%
    }
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%
    }
}

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 90%;
}


@keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 90%
    }
}

@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 90%
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 90%
    }
}

@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 90%
    }
}

#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 92%;
}

@keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 92%
    }
}

@-webkit-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 92%
    }
}

@-moz-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 92%
    }
}

@-o-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 92%
    }
}

#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 91%;
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 91%
    }
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 91%
    }
}

@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 91%
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 91%
    }
}

#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
}

@keyframes Animate-XML {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-webkit-keyframes Animate-XML {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-moz-keyframes Animate-XML {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-o-keyframes Animate-XML {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}
#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 30%;
}

@keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

@-webkit-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

@-moz-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

@-o-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}
#Skill-Firebase {
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s;
    -moz-animation: Animate-JAVA 4s;
    -o-animation: Animate-JAVA 4s;
    width: 65%;
}

@keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 65%
    }
}

@-webkit-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 65%
    }
}

@-moz-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 65%
    }
}

@-o-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 65%
    }
}
    #Skill-Reactjs {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 80%;
}

@keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-webkit-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-moz-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-o-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}
#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
}

@keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-webkit-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-moz-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-o-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}
#Skill-VBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
}

@keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-webkit-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-moz-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-o-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

.Skill-Area {
    z-index: 1;
    float: left; //position: absolute;
    text-shadow: none;
    color: #fff; //font-family: Lato-Regular, sans-serif;
    font-size: 15px;
    padding-left: 7px;
}
