@import '_variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
}

.row.match-my-cols {
    display: flex;
}

.container-fluid {
    padding-right: 0px;
}

.firts_Information {
    position: absolute;
    top: 40vh;
    z-index: 3;
    color: white;
}

.title {
    font-family: $fontTitle;
    text-align: center;
    font-size: 5.4em;
    text-shadow: 7px -3px 12px black;
}

.subtitle {
    font-family: $fontSubtitle;
    font-size: 4vh;
}

.welcome {
    font-family: $text;
    font-size: 22px;
}

.paragraph {
    font-family: $text1;
}

.home-page .particles-js {
    height: 100vh;
}

.background-blue {
    background: $colorPrimary;
    color: white;
    display: flex;
    align-items: center;
}

.background-white {
    color: $colorPrimary;
    display: flex;
    align-items: center;
}