@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Serif|Parisienne|Raleway');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
$fontTitle:'Parisienne', cursive;
$fontSubtitle: 'Lobster', cursive;
$fontText: 'Raleway', sans-serif; 
$text: 'PT Mono',
monospace ;//'PT Serif',serif;