@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Serif|Parisienne|Raleway');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$fontTitle:'Parisienne',
cursive;
$fontSubtitle: 'Lobster',
cursive;
$fontText: 'Raleway',
sans-serif;
$text: 'PT Mono',
monospace;
$text1 :'Montserrat',
sans-serif;
$colorPrimary:#002a69;