.container-flexbox {
    margin: 5%;
}

 .img-responsive {
    width: 190px;
    height: 200px;
    border: 3px solid black;
    -webkit-filter: drop-shadow(8px 8px 10px);
    filter: drop-shadow(8px 8px 10px);
}

.carousel-inner {
    height: 450px;
}

.overlay h2 {
    font-weight: bold;
}
#work{
        background: linear-gradient(transparent 43%, transparent 97%, transparent 46%, #002a69 102%);

}